.indexbody{
  background-color: #B8B8C7;
}

.tropicalbody{
  background-color: #A04A65;
}

.popularbody{
  background-color: #B46CA5;
}

h1{
  color: #f7325e;
}

.tropical{
  color: #7dc410;
  font-family: fantasy;
}
